.app-slider {
    position: relative;
    height: 75vh;
    /* Adjust the height as needed */
}

.app-slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-image: url("../../assets/Slides/slide-one.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    /* Center the background image on small screens */
    @media (max-width: 767px) {
        display: flex;
        background-position: center;
        color: var(--color-white);



    }

}





.app-slider-overlay {
    margin: 30px auto auto 50px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    transform: translateY(0);
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.app-slider-text {
    font-family: var(--font-base);
}

#slider-heading {
    font-size: 55px;
    font-weight: 500;
}

#slider-text {
    font-size: 16px;
    max-width: 500px;
    text-align: center;
}

#slideOne-img-id {
    margin: 0 auto;
    width: 100%;
    height: 75%;
}

@media (max-width: 767px) {
    .app-slider-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/Slides/slide-one.jpg");
    }

    .app-slider-text {
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
    }

    #slider-text {
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: 80%;
        padding-left: none !important;
    }

    .app-slider-overlay {
        margin: auto
    }

}